keystore.properties

Scrcpy/*.iml
Scrcpy/.gradle
Scrcpy/.idea
Scrcpy/local.properties

Scrcpy/app/build
Scrcpy/app/.gradle
Scrcpy/app/debug
Scrcpy/app/release

Scrcpy/server/build
Scrcpy/server/.gradle

